* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: capitalize;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  font-family: "Exo 2", sans-serif;
  font-family: garamond;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.countain {
  margin: 7% 25%;
  box-shadow: 10px 10px 5px grey;
  border: 3px solid #f1f1f1;
}

.form-head {
  text-align: center;
  padding: 10px 0;
  border-bottom: 2px solid #f1f1f1;
}

.form-head h1 {
  font-size: 32px;
}

.form-head p {
  margin-top: 10px;
  font-size: 16px;
}

/* Add padding to container elements */
.container {
  padding: 16px;
  font-size: 17px;
}

label {
  margin-top: 5px;
}

input:not([type="checkbox"]),
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input:not([type="checkbox"]):focus,
textarea:focus {
  background-color: #ddd;
  outline: none;
}

.newsletter {
  width: 100%;
  font-size: 14px;
}

.newsletter input {
  float: left;
  margin: 5px 5px 0;
}

/* Set a style for all buttons */
button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

#footer {
  width: 100%;
  background: #333;
}

#footer h1 {
  text-align: center;
  color: #fff;
  font-size: 1.9rem;
  padding: 2rem 0;
  margin: 0;
}

#footer h1 span {
  color: #00b894;
}
         .open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 200px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
margin-left: 34%;
  bottom:0;
  border: 3px solid white;
}

/* Add styles to the form container */
 .form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
 .form-container input[type=text]{
  width: 100%;
  padding: 13px;
  margin: 5px 0 10px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
 .form-container input[type=text]:focus{
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 8px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
 .form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
 .form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
.enquiry{
    text-align: center;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 768px) {
  .countain {
    margin: 5% 10%;
  }
}
