* {
  margin: 0;
  padding: 0;
  font-family: garamond;
}

.card .fa-lock {
  color: goldenrod;
  border-radius: 50%;
  border: 1px solid black;
  padding: 10px 17px;
  font-size: 30px;
  align-items: center;
  position: absolute;
  margin-left: 43%;
  margin-top: 0%;
}
.card .onep {
  margin-top: 13%;
  color: goldenrod;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
}
.footers .card {
  margin-left: 1%;
  margin-top: 14%;
  color: goldenrod;
  border: 1px solid lightgray;
  margin-bottom: 0px;
  width: 98%;
  background: transparent;
}
.end {
  color: goldenrod;
  margin-top: 6%;
  text-align: center;
}
.card .fa-lock {
  color: goldenrod;
  border-radius: 50%;
  border: 1px solid black;
  padding: 10px 17px;
  font-size: 30px;
  align-items: center;
  position: absolute;
  margin-left: 43%;
  margin-top: 0%;
}
.card .onep {
  margin-top: 13%;
  color: goldenrod;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
}
.footers .card {
  margin-left: 1%;
  margin-top: 14%;
  color: goldenrod;
  border: 1px solid lightgray;
  margin-bottom: 0px;
  width: 98%;
  background: transparent;
}
.end {
  color: goldenrod;
  margin-top: 6%;
  text-align: center;
}
