* {
  margin: 0;
  padding: 0;
  font-family: garamond;
}
.end {
  color: goldenrod;
  margin-top: 6%;
  text-align: center;
}
.links a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  display: block;
  text-align: center;
  margin-top: 5px;
}
.links a:hover {
  cursor: pointer;
  color: goldenrod;
  font-size: 25px;
}
.card h5 {
  text-align: center;
  margin-top: 5%;
}
form i {
  margin-left: 10px;
}
.head h2 {
  color: black;
  letter-spacing: 3px;
  margin-top: 30px;
  animation: opac 5s ease-in;
}
.head i {
  font-size: 30px;
  color: black;
}
.card .fa-user {
  font-size: 50px;
  border-radius: 50%;
  top: -59px;
  color: goldenrod;
  left: 45%;
  padding: 10px 20px;
  position: absolute;
  z-index: -1;
  background: transparent;
}
.card h3 {
  text-align: center;
  margin-top: 20px;
}

@keyframes opac {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 800px) {
  .card .fa-user {
    left: 39%;
  }
}
